.card {
  border: 1px solid hsl(0, 0%, 80%);
  border-radius: 10px;
  box-shadow: 5px 5px 5px hsl(0, 0%, 0%, 0.1);
  padding: 20px;
  text-align: center;
  max-width: 250px;
  display: inline-block;
}

.card .card-img {
  max-width: 60%;
  height: auto;
  border-radius: 50%;
  margin-bottom: 10px;
}

.card .card-title {
  font-family: 'Courier New';
  margin: 0;
  color: hsl(0, 0%, 20%);
}

.card .card-text {
  font-family: 'Courier New';
  color: hsl(0, 0%, 30%);
}

.student {
  font-family: 'Haettenschweiler';
  font-size: 2em;
  color: blueviolet;
  padding: 15px;
  border: 1px solid hsla(0, 0%, 50%, 0.8);
  margin: 5px;
}

.student p {
  margin: 10px;
}

.hello {
  font-family: 'Cambria';
  font-size: 2em;
  color: rgb(43, 226, 205);
  padding: 15px;
  border: 1px solid hsla(0, 0%, 50%, 0.8);
  margin: 5px;
}

.log {
  font-family: 'Cambria';
  font-size: 2em;
  color: rgb(43, 226, 67);
  padding: 15px;
  border: 1px solid hsla(0, 0%, 50%, 0.8);
  margin: 5px;
}

.category {
  font-size: 2.5em;
  font-weight: bold;
  margin-bottom: 10px;
  color: hsl(0, 100%, 2%);
  text-align: center;
  border: 3px solid;
  border-radius: 5px;
  background-color: hsl(185, 100%, 50%);
}

.items li {
  font-size: 2em;
  list-style: none;
  color: hsl(0, 0%, 25%);
  text-align: center;
  margin: 0;
}

.items li:hover {
  color: hsl(0, 0%, 45%);
  cursor: pointer;
}

.counter-container {
  text-align: center;
  font-family: 'Segoe UI';
}

.count-display {
  font-size: 10em;
  color: rgb(194, 130, 52);
  margin: 0;
  margin-bottom: 25px;
}

.count-button {
  font-size: 2.5em;
  font-weight: bold;
  margin-bottom: 10px;
  color: hsl(0, 100%, 2%);
  text-align: center;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
  margin: 10px;
  background-color: hsl(185, 100%, 50%);
}

.inputValues {
  font-family: 'Gill Sans MT';
  font-size: 2em;
  color: seagreen;
  margin: 20px;
  padding: 10px 15px;
  width: 300px;
  border: 3px solid;
  border-color: black;
}

.display {
  font-family: 'Gill Sans';
  font-size: 3em;
  color: rgb(10, 128, 32);
  margin: 10px;
  padding: 15px;
}

.radioValues {
  font-family: 'Gill Sans MT';
  font-size: 2em;
  color: seagreen;
}
