.container {
    font-family: 'Courier New';
    font-size: 2em;
}

.container button {
    margin: 8px;
    padding: 10px 20px;
    background-color: blanchedalmond;
    color: black;
    font-weight: bold;
    border-radius: 20px;
}

.container input {
    width: 100px;
    border-radius: 15px;
    border: 2px solid;
    padding: 10px 20px;
}